@model ENB.Doctors.Practise.MVC.Models.DisplayAppointment

<div>
    <h4>DisplayAppointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other_details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other_details)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
